@mixin input-wrapper($name) {
    &.#{$name} {

        display: flex;
        align-items: center;
        width: 100%;
        padding: 7px 12px;
        transition: all 200ms ease-in-out;
        border: 1px solid var(--ion-color-#{$name}-tint);
        overflow: hidden;

        .prefix,
        .input .suffix {
            display: flex;
        }

        .prefix {
            padding-right: 6px;
            text-overflow: clip;
            overflow-wrap: normal;
            overflow: hidden;
            color: var(--ion-color-#{$name}-contrast);
        }

        .input {
            flex: 1;
        }

        .suffix {
            padding-left: 6px;
        }

        &.error {
            border: 1px solid var(--ion-color-danger);

            .prefix {
                color: var(--ion-color-danger);
            }
        }

        &.fill {
            border: none;
            background: rgba(var(--ion-color-#{$name}-rgb), 0.2);

            &.border {
                border: 1px solid var(--ion-color-#{$name});

                &.error {
                    border: 1px solid var(--ion-color-danger);

                    .prefix,
                    ::ng-deep {
                        ion-input {
                            color: var(--ion-color-danger);
                        }
                    }
                }
            }

            &:not(.border) {

                &.error {
                    background: rgba(var(--ion-color-danger-rgb), 0.2);

                    .prefix,
                    ::ng-deep {
                        ion-input {
                            color: var(--ion-color-danger);
                        }
                    }
                }
            }
        }

        &.outline {
            border: 1px solid var(--ion-color-#{$name});
            color: var(--ion-color-#{$name});

            .prefix,
            .suffix {
                color: var(--ion-color-#{$name});
            }

            ::ng-deep {
                ion-input {
                    color: var(--ion-color-#{$name});
                }
            }

            &.error {
                border: 1px solid var(--ion-color-danger);

                .prefix,
                ::ng-deep {
                    ion-input {
                        color: var(--ion-color-danger);
                    }
                }
            }
        }

        &.round {
            border-radius: 30px;
        }

        &.full {
            border-radius: 0;
        }

        ::ng-deep {
            ion-input {
                margin-left: 6px;
                color: var(--ion-color-#{$name}-contrast);

                input {
                    padding: 0;
                }
            }
        }
    }
}

:host {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;

    .input-wrapper {
        @include input-wrapper(secondary);
        @include input-wrapper(primary);
        @include input-wrapper(dark);
        @include input-wrapper(light);
        @include input-wrapper(warning);
        @include input-wrapper(medium);

    }

    .error-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2px 0 2px 12px;
        align-content: flex-end;

        ::ng-deep {
            span {
                font-size: 12px;
                color: var(--ion-color-danger);
            }
        }

    }

    ::ng-deep {
        p {
            margin: 0;
        }
    }
}