<ion-header>
  <ion-toolbar color="gradient">
    <ion-title>Appointment</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="white">
        <ion-icon slot="icon-only" mode="md" color="white" size="small" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner [status]="status" *ngIf="trainer">

    <app-simple-item>
      <div class="picture" prefix [image-loader]="trainer.picture"></div>
      <div class="description">
        <div class="name">{{trainer.fullname}}</div>
        <div class="skill">{{trainer.skill}}</div>
      </div>
    </app-simple-item>
  </app-spinner>

  <iframe src="https://app.acuityscheduling.com/schedule.php?owner=19001088" frameBorder="0" style="width:100%;height:100%" scrolling="yes" ></iframe>



</ion-content>