<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg" size="small"></ion-icon>
      <!-- <ion-label>Schedule</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon src="assets/icon/search.svg" size="small"></ion-icon>
      <!-- <ion-label>About</ion-label> -->
    </ion-tab-button>


    <ion-tab-button tab="basket">
      <ion-icon src="assets/icon/cart.svg" size="small"></ion-icon>
      <!-- <ion-label>Speakers</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/user.svg" size="small"></ion-icon>
      <!-- <ion-label>Map</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>