:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .image {
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 10px;
  }

  .subtitle {
    font-size: 14px;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
}