.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--ion-color-light);
}

.text-center {
  text-align: center;
}

.week-day-label {
  color: var(--ion-color-secondary);
  font-weight: bold;
  font-size: 14px;
  margin: 15px 0;
}

.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
  border-color: var(--ion-color-primary);
  color: var(--ion-color-dark);
  font-size: 13px;
  cursor: pointer;


  span {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 50%;
  }

  .events {
    display: flex;
    margin-top: 2px;

    .event {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      margin: 0 2px;
    }
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

.completed {
  background: var(--ion-color-success);
  color: white;
}

.failed {
  background: var(--ion-color-danger);
  color: white;
}

.selected {
  span {
    background: var(--ion-color-primary);
    color: var(--ion-color-white);
    cursor: not-allowed;
  }
}

.not-settable {
  span {
    color: rgba(var(--ion-color-stable-rgb), 0.5);
    cursor: not-allowed;
  }
}