<ion-header>
  <ion-toolbar color="gradient">
    <ion-title>Appointment</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="white">
        <ion-icon slot="icon-only" mode="md" color="white" size="small" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner [status]="status" *ngIf="appointment">

    <app-simple-item class="detail">
      <h5>Title</h5>
      <textarea elastic-textarea="25" [(ngModel)]="appointment.title"></textarea>
    </app-simple-item>

    <app-simple-item *ngIf="auth$.user$ | async as user">
      <div class="picture" prefix [image-loader]="user.picture"></div>
      <div class="description">
        <div class="name">{{user.fullname}}</div>
        <div class="skill">{{user.email}}</div>
      </div>
    </app-simple-item>

    <app-simple-item>
      <ion-icon src="assets/icon/calendar.svg" prefix></ion-icon>
      <ion-datetime [(ngModel)]="appointment.date" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY">
      </ion-datetime>
    </app-simple-item>

    <app-simple-item>
      <ion-icon src="assets/icon/clock.svg" prefix></ion-icon>
      <ion-datetime [(ngModel)]="appointment.date" displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
    </app-simple-item>

    <app-simple-item class="detail">
      <h5>Details</h5>
      <textarea elastic-textarea="100" [(ngModel)]="appointment.detail"></textarea>
    </app-simple-item>

    <ion-button class="submit" (click)="manageAppt(appointment)" expand="block" shape="round" color="gradient"> Make
      Appointment
    </ion-button>
  </app-spinner>

</ion-content>